data/*
processed_data/*
pretrain/*
logs/*
all_text_for_tokenizer.txt
processed_data/*
instruct_data/*
*.sh
plot_loss.py
Argonne_LLM/*
Argonne_LLM_Inference/*
__pycache__
Argonne_LLM_Finetuned/*
Argonne_LLM_Fixed/*
