data/*
processed_data/*
pretrain/*
logs/*
all_text_for_tokenizer.txt
processed_data/*
instruct_data/*
*.sh
plot_loss.py
Argonne_LLM/*
argonne_instruct_finetuned/*
__pycache__
Argonne_LLM_Fixed/*
code_junk/*
pretrained/*
make_plot.py
